<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dance_style.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dance_style.description %>
</p>

<h2>Upcoming Events</h2>

<div class="row">
  <div class="small-9 columns small-centered">
    <%= cell(:event, collection: @events) %>
  </div>
</div>