<%= form_tag(dance_classes_path, method: "get")  do %>
  <%= select_tag "query", options_from_collection_for_select(@dance_styles, "id", "name") %>
  <%= submit_tag("Search") %>
<% end %>

<h2>Upcoming Events</h2>

<div class="row">
  <div class="small-12 large-9 columns large-centered">
    <%= cell(:event, collection: Event.all) %>
  </div>
</div>
