<article class="event">

  <div class="event-date">
    <p class="event-month">Sept</p>
    <p class="event-day">18</p>
  </div>

  <div class="event-desc">
    <h4 class="event-desc-header"><%= name %></h4>
    <p class="event-desc-detail"><span class="event-desc-time"></span><%= description %></p>
    <%= link_to 'View Details', model, class: "rsvp button" %>
  </div>

</article>

<hr>
